parameters:
	level: 5
	paths:
		- src
		- tests
	ignoreErrors:
		- '#Function root_path not found.#'
		- '#Function env not found.#'
		- '#Function app_path not found.#'
		- '#Function config_path not found.#'
		- '#Function public_path not found.#'
		- '#Function json not found.#'
